body {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 60px;
    background-color: #006088;
}

.navbar-brand {
    cursor: pointer;
    color: white !important;
    padding-right: 10px;
    font-size: 1rem;
}

.wordpress-logo {
    font-size: 30px !important;
    padding-right: 5px;
    vertical-align: middle;
}

.navbar-brand-text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.navbar-reader {
    cursor: pointer;
    color: white !important;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.newspaper-logo {
    font-size: 30px !important;
    padding-right: 5px;
    vertical-align: middle;
}

.navbar-new-article {
    cursor: pointer;
    color: white !important;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.clipboard-logo {
    font-size: 30px !important;
    padding-right: 5px;
    vertical-align: middle;
}

.navbar-write {
    background-color: white;
    color: #2271b1 !important;
    border-radius: 4px;
    box-shadow: 0 0 1px white;
}

.plus-logo {
    font-size: 32px !important;
    padding-right: 5px;
    vertical-align: middle;
    color: #2271b1;
}

.logo-bell {
    font-size: 38px !important;
    color: #FFF;
    position: relative;
    top: 1.8px;
}
 
#sidebar-nav {
    padding: 0;
}

.col-left {
    padding-right: 0;
    border-right: 1px solid #dee2e6;
    height: 91.7vh;
}

.nav-link {
    color: #2c3338;
    padding-left: 30px;
}

.nav-pills .nav-link.active {
    color: #004085;
    background-color: #cce5ff !important;
    border-color: #b8daff;
    border-radius: 0;
}

.nav-pills .nav-link:hover {
    color: #383d41;
    background-color: #e2e3e5 !important;
    border-color: #b8daff;
    border-radius: 0;
}

.col-right {
    padding: 100px;
    background-color: #F6F7F7;
}

#navbar-page {
    background-color: #FFFF;
    padding: 10px 0 10px 0;
    text-align: center !important;
    border-radius: 4px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

.nav-link-page {
    color: #004085;
}

.nav-pills .nav-link-page.active {
    background-color: #FFFF !important;
    color: #3c434a;
}

.nav-pills .nav-link-page:hover {
    background-color: #FFFF !important;
    color: blue;
}

.card-header {
    background-color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.col-right-button-card {
    width: 100%;
    box-shadow: 0px 5px 2px #d7dbde;
    font-weight: 500;
}

.list-1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: 4rem;
}

.list-1 h5 {
    margin-bottom: 0;
    height: 30px;
}

.btn-add-new-page {
    box-shadow: 0 3px 1px #910a0a;
}

.new-article-form-container {
    box-shadow: 0 0 3px black;
    border-radius: 5px;
}

#form-create-article {
    padding: 5px 50px 35px 50px;
}