

.btn{
    margin-right: 8px;
}

#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background: #e5e5e5;
    opacity:0.9;
      transition:all .5s;
      display:flex;
      align-items:center;
  }

  #page-content-wrapper{
    width: 100%;	
    position: absolute;
    padding:15px;
      transition:all .5s;
  }

  #menu-toggle{
    float: right;
	transition:all .3s;
	/* font-size:20px; */
}

#wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
  }

  #wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
  }

  .sidebar-nav{
    padding:0;
    list-style:none; 
      transition:all .5s;
      width:100%;
      text-align:center;
  }

  .sidebar-nav li{
    line-height:40px;  
      width:100%;
      transition:all .3s;
      padding:10px;
      background-color: white;
  }
  
  .sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:black;
  }
  
  .sidebar-nav li:hover{
    background:#eeeeee;
  }