#navBarMiniWP {
    padding-top: 0;
    padding-bottom: 0;
}
#containerFluid {
    padding-top: 50px;
}
#wpLogo {
    width: 40px;
}
#newsLogo {
    width: 40px;
}
#plusLogo {
    width: 15px;
}
#colMenu {
    min-height: 740px;
}
footer {
    color: white;
    background-color: tomato;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 1;
}
#imgCard {
    width: 30px;
}
