#register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image {
  background-image: url('/assets/images/hero-image-2.jpg');
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
.form-wrapper {
  position: relative;
  width: 280px;
  padding: 2rem 2rem;
  background-color: white;
  border-top: 4px solid #1e1e1e;
  border-radius: 8px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);;
}
.form-wrapper header h4 {
  font-family: 'Fugaz One', cursive;
}
#logo-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-custom {
  border: none;
  color: #fff;
  background: linear-gradient(45deg,#ff5177,#ff88a2) !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.btn-custom:hover {
  transition: 0.4s all;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}