*{
    box-sizing: border-box;
}
body{
    background-color: #F6F7F7;
}
.content-right{
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 61px);
}
.left-sidebar{
   height: calc(100vh - 61px);
   background: #fff;
   overflow-y: scroll;
   overflow-x: hidden;
   padding: 30px;
}
.no-pad{
    padding: 0;
}
.web-pict{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.website-title{
    margin-bottom: 0;
}
.btn-personal{
    background-color: #b6b6b6;
    border:none;
    border-radius: 10px;
    padding: 5px 15px;
}
.add-pad{
    padding-right: 8px;
}
.site-pages{
    padding: 15px;
}
.list-active, .list-active:hover{
    background-color: #e0e0e0;
    color: #236088;
}
.article-pict{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.new-article{
    padding: 30px;
}
#btn-menu{
    border: 1px solid #fff;
    padding: 4px 12px;
    border-radius: 5px;
}