* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    outline: none;
}

#all-body {
    background-color: seashell;
}

nav {
    height: 8vh;
    width: 100vw;
    position: fixed !important;
    margin-top: auto;
    z-index: 100;

}

#main-body {
    width: 75vw;
    height: 150vw;
    position: relative;
    left: 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

#side-bar {
    position: fixed;
    padding: 10vh 1.5vw;
    right: 0;
    height: 100vh;
    width: 25vw;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random-title {
    width: 100%;
    background-color: thistle;
    margin-left: 1vw;
    margin-top: 1vh;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#random-title div {
    width: 100%;
    background-color: lightblue;
    font-size: large;
    border-bottom: 1px solid black;
    margin: 0;
    padding-left: 2px;
}

#tag-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tag-list div {
    display: flex;
    flex-flow: row nowrap;
}

#tampung-tags {
    margin-top: 20px;
    height: 100px;
    background-color: cornsilk;
}