#register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image {
  background-image: url('/assets/images/hero-image-2.jpg');
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}
.form-wrapper {
  position: relative;
  width: 280px;
  padding: 2rem 2rem;
  background-color: #ffffff;
  border-top: 4px solid #0f0f0f;
  border-radius: 8px;
  box-shadow: 0px -2px 20px -8px rgba(0, 0, 0, 0.6);
}
.form-wrapper header h4 {
  font-family: 'Fugaz One', cursive;
}
#logo-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: bounce 4s infinite;
}
.full-size {
  width: 100%;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, -42%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
}