html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navbar, .footer {
    background-color: #e15f41 !important;
    color: white !important;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

#logo{
    color: white;
    margin: 0;
    padding: 10px;
}

.nav-link {
    margin: auto;
}

.navbar .active {
    background-color: #fd9644;
}

.navbar-brand i {
    font-size: 24px;
}

nav a {
    color: white;
}

nav i {
    color: white;
    font-size: 20px;
    font-weight: 800;
}

nav #write {
    background-color: white;
    color: #e15f41 !important;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

nav #write i{
    color: #e15f41 !important; 
}

.action {
    font-size: 20px;
    font-weight: 700;
}

#account-icon, #manage-icon, #person-icon {
    position: relative;
    float: right;
    cursor: pointer;
}

.navbar-nav a {
    margin-left: 20px;
}

.row {
    margin: 0;
    max-width: 100%;
    max-height: 100vh;
}

.overflow-auto {   
    max-height: 85.4vh;
    min-height: 85.4vh;
    max-width: 100%;
    min-width: 80%;
}

.list-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.list-group h5{
    font-weight: 700;
}

.list-group a {
    border: none !important;
}

.list-group a span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

span .badges {
    float: right;
    position: relative;
    margin-right: 0;
}

.nav .nav-item {
    width: 150px;
}

#right-content ul {
    border: 1px solid #fd9644;
    padding: 5px 5px 0 0;
}

.nav .nav-item a{
    font-size: 24px;
}

#right-content .active {
    border-bottom: 2px solid #e15f41;;
}

#right-content {
    margin-top: 6vh;
    font-weight: 600;
}

#right-content #header {
    margin-bottom: 40px;
}

.card {
    border: 2px solid #fd9644;
    margin-top: 20px;
}

#titik {
    margin: 0;
}

#form-post {
    margin: 20px auto;
}

#form-post h4{
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 2px solid #fd9644;
}

#form-post .btn {
    background-color: #fd9644;
    border: none;
    border-radius: 10px;
}

#article-list .card {
    margin-bottom: 20px;
}