@import 'button.css';
@import 'register.css';
* {
  font-family: 'Roboto', Arial, Helvetica;
}
.input-group-text {
  width: 40px;
  justify-content: center;
}
a {
  color: #ff43f6
}
a:hover {
  transition: 0.4s color;
  color: #a462ca;
}
input[type="text"]:hover, input[type="password"]:hover {
  border-color: #ff43f6;
  box-shadow: 0 0 0 3px rgba(255, 67, 246, 0.5);
  outline: 0 none;
}
input[type="text"]:focus, input[type="password"]:focus {
  border-color: #a462ca;
  box-shadow: 0 0 0 3px rgba(164, 98, 202, 0.5);
  outline: 0 none;
}