#nav-wrapper{
    background: #a8d0e6;
}

#profile{
    width: 30px;
    height: 30px;
}

#write:hover{
    background: #f76c6c;
}


#reader{
    margin-left: 20px;
}

.top{
    font-size: 20px;
}

#kan{
    margin-right: 40px ;
}

.rig{
    margin-left: 30px ;
    color: #24305e;
    font-size: 25px;
}

#logo{
    background: #f76c6c;
    padding-left: 20px;
    text-align: center;
    margin: 0%;
}

.white{
    color: #24305e;
}

.navbar{
    padding: 0%;
}




/* side bar start */
#sidebar{
    border-right: solid 1px rgba(116, 92, 92, 0.3);
    height: 100vh;
}

.overflow-auto{
    max-height: 100vh;
}

.bn{
    background: none;
    border: solid 1px rgba(116, 92, 92, 0.5);
    border-radius: 6px;
    position: relative;
    float: right;
}

.bn:hover{
    background: #f76c6c;
}


.rotate:hover{
    color: #f76c6c;
    transition: 0.9s;
    transform: rotateY(180deg);
}

#tag{
    position: relative;
    float: right
}



/* side bar end */


/* container start */
#search-{
    padding-left: 50px;
}

.edit{
    position: absolute;
    left: 80%;
    font-size: 20px;
    color: #f76c6c;
}

.edit:hover{
    color: #a8d0e6;
 
}

#icon-search{
    position: absolute;
    z-index: 1;
    font-size: 17px;
    top: 15px;
    left: 15px;
}

#icon-search-tag{
    position: absolute;
    z-index: 1;
    font-size: 17px;
    top: 11px;
    left: 15px;
}

#input-tag{
    padding-left: 50px;
}

.HR{
    border-bottom: solid 1px rgba(116, 92, 92, 0.5);
}

.user-profile{
    width: 50px;
    height: 50px;
    position: relative;
}

.delete{
    background: none;
    border: solid 1px rgba(116, 92, 92, 0.5);
    border-radius: 6px;
}

.delete:hover{
    background: #f76c6c;
}
/* conainer end */



footer{
    background: #a8d0e6;
}